/*html {
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: #686868;
  font-size: 15px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  background: #fafafa;
}
body *, body *:before, body *:after {
  box-sizing: inherit;
}*/

#Infrastructure-SVG {
  max-height: 400px;
  max-width: 100%;
  visibility: hidden;
}

.replay {
  display: inline-block;
  visibility: hidden;
  margin-bottom: 30px;
}
.replay svg {
  width: 50px;
  fill: #0177FA;
  height: 50px;
}
