
#Infrastructure-SVG {
  max-height: 400px;
  max-width: 100%;
  visibility: hidden;
}

.replay {
  display: inline-block;
  visibility: hidden;
  margin-bottom: 30px;
}
.replay svg {
  width: 50px;
  fill: #0177FA;
  height: 50px;
}
