/* TEMPLATE STYLES */

        html,
        body,
        .view {
            height: 100%;
            color: #42506a;
        }
        /* Navigation*/

        .anchor { padding-top: 90px; }

        .navbar {
            background-color: transparent;
        }

        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: #1C2331;
        }

        footer.page-footer {
            background-color: #1C2331;
            margin-top: -1px;
        }

        @media only screen and (max-width: 768px) {
            .navbar {
                background-color: #1C2331;
            }
        }
        /*Call to action*/

        .flex-center {
            color: #fff;
        }

        .view {
            /*background: url("http://mdbootstrap.com/img/Photos/Horizontal/City/full%20page/img%20(1).jpg")no-repeat center center fixed;*/
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }



        .gradient-bg {
            background: -webkit-linear-gradient(top left, #da5, #d26);
            background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        }


        @media only screen and (min-width: 990px)
        {
          .main-footer_city-landscape-img{
            background:url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/573fa19c8435/assets/img/structural/footer_cityscape.png)
            no-repeat center bottom;
            background-size:660px 140px;
            margin:42px auto 18px;
            height:140px
            }
          }
